
body {
  background-color: black;
}

.wrapper{
  background-color: white;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  border: 10px solid #cccccc;
  padding: 1rem 2rem;
}

header {
  background-color: #e2e2e2;
  padding: 1rem;
  border: 1px solid #8d8d8d;
  border-radius: 2rem;
  margin: 0 -1.5rem;
}

header h1 {
  font-size: 175%;
  border-bottom: 1px solid black;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}

header h2 {
  font-size: 90%;
  font-weight: norml;
}

main {
  margin-top: 1rem;
  font-size: 125%;
  line-height: 1.3;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main li {
  margin: 0 0 1rem 2rem;
}

.signature {
  text-align: right;
}

.signature i {
    font-size: 140%;
    font-family: cursive;
}
